/* Add to your global CSS file */
.PhoneInput {
  display: flex;
  align-items: center;
  width: 100%;
}

.PhoneInputInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background: transparent;
  width: 100%;
}

.PhoneInputInput:focus {
  outline: none;
  box-shadow: none;
}

.PhoneInputCountry {
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}
